<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">-->
    <title>student registration  spring boot webapp featuring CRUD - Update Student Form</title>
</head>
<body>
<div th:replace = "fragments/header :: header"></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <form class="form-inline my-2 my-lg-0">
        <span style="color:#fff;padding-left: 2em; padding-right: 1em;">Welcome Student</span>
        <a href="#" class="btn btn-secondary">Sign in</a>
    </form>
    </div>
</nav>

<div style="padding-top:1em;" class="container">
    <div style="margin-bottom: 1em;">
        <span style="font-size: 2em; color: #32a5e7;">Update Student Form</span>
    </div>

    <form id="newStudentForm" method="post" action="/student/edit" th:object="${student}">
        <fieldset>
            <input type="hidden" name="studentId" th:value="${student.studentId}"/>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="studentNumber">Student Number</label>
                        <span th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"
                              class="alert alert-danger"></span>
                        <input id="studentNumber" name="studentNumber" type="text" class="form-control"
                               th:value="${student.studentNumber}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                              class="alert alert-danger"></span>
                        <input id="firstName" name="firstName" type="text" class="form-control"
                               th:value="${student.firstName}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="middleName">Middle Name</label>
                        <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"
                              class="alert alert-danger"></span>
                        <input id="middleName" name="middleName" type="text" class="form-control"
                               th:value="${student.middleName}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastName">lastName</label>
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                              class="alert alert-danger"></span>
                        <input id="lastName" name="lastName" type="text" class="form-control"
                               th:value="${student.lastName}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cgpa">CGPA</label>
                        <span th:if="${#fields.hasErrors('cgpa')}" th:errors="*{cgpa}"
                              class="alert alert-danger"></span>
                        <input id="cgpa" name="cgpa" type="number" class="form-control"
                               th:value="${student.cgpa}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="enrollmentDate">Enrollment Date</label>
                        <span th:if="${#fields.hasErrors('enrollmentDate')}" th:errors="*{lastName}"
                              class="alert alert-danger"></span>
                        <input id="enrollmentDate" name="enrollmentDate" type="date" class="form-control"
                               th:field="${student.enrollmentDate}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="isInternational">Is International?</label>
                        <span th:if="${#fields.hasErrors('isInternational')}" th:errors="*{middleName}"
                              class="alert alert-danger"></span>
                        <input id="isInternational" name="isInternational" type="text" class="form-control" th:value="${student.isInternational}">
                    </div>
                </div>
            </div>

            <div style="float:right;">
                <a href="/secure/student/list" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                <button id="btnSubmit" type="submit" class="btn btn-outline-success">Update Student</button>
            </div>
        </fieldset>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
